.circular {
	width: 250px;
	height: 250px;
        display: inline-block;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        margin-left: 20px;
        margin-bottom: 15px;
        overflow: hidden;
	}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
	}
        
.rounded {
        width: 200px;
        height: 200px;
        display: inline-block;
        border: solid 1px #000;
        overflow: hidden;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
        }
        
img.float_left{
        float: left;
        margin-right: 30px;
        }
        
.rectan {
        width: 300px;
        height: 150px;
        }